.nav {
  align-items: baseline;
  background-color: #263238;
  color: #cfd8dc;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
}

.my-btn {
  background-color: inherit;
  border: none;
  color: inherit;
}

.my-btn:hover {
  cursor: pointer;
  color: #90a4ae;
}

h2 {
  margin: 0;
}

h2:hover {
  margin: 0;
  cursor: pointer;
}